body {
    position: relative;
    height: 100vh;
    display: block;
    background-image: url(/img/bg/dark_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_wrapp {
    background: #000000bd;
}

body * {
    color: #7fff00;
}

.output_render_cont li:nth-child(odd) {
    background: #000000b8;
    border-radius: 5px;
}

.output_render_cont li:nth-child(even) {
    background: none;
}

button:hover {
    box-shadow: 0 0 17px;
    background: #000000c9;
}
